@import '../bower_components/animate.styl/animate.styl'


user-select()
    -webkit-touch-callout arguments
    -webkit-user-select arguments
    -khtml-user-select arguments
    -moz-user-select arguments
    -ms-user-select arguments
    user-select arguments







body
    padding 70px 0 70px 0;


#bottom_status_bar
    position fixed
    bottom 0
    left 0
    right 0
    padding 3px
    text-align center


/*****************************************************************************
 Metric input page stuff
 */

checklist
    .checkbox-inline
        padding-right 20px

measurement
    .description_worst
        display block
    .label
        padding 6px 4px 6px 8px
        margin-right 10px
    textarea
        &:focus
            opacity 100
        opacity 0.25

metric-record-form-container
    .day_link
        color #337AB7
        cursor pointer
        cursor hand
        user-select none
    /*.status*/
        /*position absolute*/
        /*right 20px*/
        /*top 5px*/

