user-select()
    -webkit-touch-callout arguments
    -webkit-user-select arguments
    -khtml-user-select arguments
    -moz-user-select arguments
    -ms-user-select arguments
    user-select arguments







body
    padding 70px 0 70px 0;

metric-record-form-input
    .description_worst
        display block
    .label
        padding 6px 4px 6px 8px
        margin-right 10px

metric-record-form
    .day_link
        color #337AB7
        cursor pointer
        cursor hand
        user-select none
