{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Input{% endblock %}

{% block extra_head %}
    <script src="{% static 'riot/metric_record_form.tag' %}" type="riot/tag"></script>

    <script>
{#        function InputContext() {#}
{#            // Using this to keep track of entire page state... should probably just be using#}
{#            // parent.on/trigger??!#}
{#            riot.observable(this);#}
{#        }#}

        // Mount with context containing all data AND our input context event handler dealy
        var context = {{ javascript_context_holder|safe }};
        //context['input_context'] = new InputContext();
        riot.mount('*', context);
    </script>
{% endblock %}

{% block content %}
    <metric-record-form-container></metric-record-form-container>
{% endblock %}
